.mb-3
  select.form-select(name="subregion", hx-post="/countries", hx-target="#countries", hx-indicator=".htmx-indicator")
    each sr in subRegions
      option= sr
p#countries(hx-swap-oob="true")
p#country(hx-swap-oob="true")
