extends layout
block body
  .container
    .row
      .col-md-6.offset-md-3
        .card.mt-5
          h1.card-header.text-center Geo Selector
          .card-body
            form
              .mb-3
                label.form-label Select a Region:
                select.form-select(name="region", hx-post='/subregions', hx-target="#subregions", hx-indicator=".htmx-indicator")
                  option Africa
                  option Americas
                  option Asia
                  option Europe
                  option Oceania
                  include loader
              p#subregions
              p#countries
              #country
              include loader
      
